@font-face {
  font-family: "Gemunu Libre SemiBold";
  src: 
      url("../fonts/GemunuLibre-SemiBold.ttf") format("ttf")
      url('../fonts/GemunuLibre-SemiBold.otf') format('otf')
      url('../fonts/GemunuLibre-SemiBold.eot') format('eot')
      url('../fonts/GemunuLibre-SemiBold.woff') format('woff')
      url('../fonts/GemunuLibre-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}